<div class="welcome user-intro"><h1><%= @user.username %></h1></div>

<%= render "follows/form", user: @user %>

<div class="feed">
<b>Tweets</b>
<ul class="feed">
  <% @user.tweets.each do |tweet| %>
    <li><%= render "tweets/tweet", tweet: tweet %></li>
  <% end %>
</ul>
<div>

<b>Followers</b>
<ul>
  <% @user.followers.each do |follower| %>
    <li><%= follower.username %></li>
  <% end %>
</ul>

<b>Followees</b>
<ul>
  <% @user.followees.each do |followee| %>
    <li><%= followee.username %></li>
  <% end %>
</ul>
